trigger:
- master

pool:
  vmImage: 'windows-latest'

parameters:
- name: isRelease
  displayName: 'Release build (no prerelease suffix)'
  type: boolean
  default: false

variables:
  buildConfiguration: 'Release'
  projectPath: 'LmsApi/Ojb500.EcfLms.csproj'

steps:
- task: DotNetCoreCLI@2
  displayName: 'dotnet build'
  inputs:
    command: 'build'
    projects: '$(projectPath)'
    ${{ if parameters.isRelease }}:
      arguments: '--configuration $(buildConfiguration)'
    ${{ else }}:
      arguments: '--configuration $(buildConfiguration) /p:VersionSuffix=pre.$(Build.BuildId)'

- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: 'test'
    projects: 'Ojb500.EcfLms.Test/Ojb500.EcfLms.Test.csproj'
    arguments: '--configuration $(buildConfiguration)'

- task: NuGetCommand@2
  displayName: 'nuget push'
  inputs:
    command: 'push'
    packagesToPush: '$(Build.SourcesDirectory)/**/bin/$(buildConfiguration)/*.nupkg'
    nuGetFeedType: 'external'
    publishFeedCredentials: 'NuGetOrg'
